# required
WALLET_PRIVATE_KEY=<YOUR_WALLET_PRIVATE_KEY>
PINATA_JWT=<YOUR_PINATA_JWT>

# all of the below are optional
STORY_NETWORK=aeneid         # 'aeneid' by default
RPC_PROVIDER_URL=            # uses public rpc provider by default
NFT_CONTRACT_ADDRESS=0x44e670d21Fb5da3f87512222B8EDBFb7989477B6
SPG_NFT_CONTRACT_ADDRESS=