# required
WALLET_PRIVATE_KEY=<YOUR_WALLET_PRIVATE_KEY>
PINATA_JWT=<YOUR_PINATA_JWT>

# all of the below are optional
STORY_NETWORK=aeneid         # 'aeneid' by default
RPC_PROVIDER_URL=            # uses public rpc provider by default
# Flow EVM Testnet (chain 545) deployed addresses
NFT_CONTRACT_ADDRESS=0x44e670d21Fb5da3f87512222B8EDBFb7989477B6
SPG_NFT_CONTRACT_ADDRESS=
# Optional: for confidential IP asset features
CONFIDENTIAL_IP_ASSET_ADDRESS=0x275a423D8bA03f845399b2bb43Cb13A16D9B83b7